@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; /* Added transition */
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}


h1, h2{
  color: white;
}
#project-name {
  width:340px;
}

p{
  color: rgb(177, 177, 177);
}
#yellow-title {
  color: yellow;
}

#orange-title {
  color: orange;
}

#green-title {
  color: #8bff47;
}

#user-plane {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

#userplane-display h2 {
text-align: center;
}



#demo-simple-select {
  width:70px;
  color: white;
  border: solid 2px white;
}

#select-btn {
 display: flex; 
 justify-content: center;
 margin: 20px;
}

#two-cols {
  display: flex;
  justify-content: space-around;
}

#tips-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
#ruban-display {
  
  text-align: center;
}


#ennemies-display {
  
  height: auto;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#ennemy-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tips-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}

#bar-chart {
  max-width: 70%;
  display: flex;
  margin: 0 auto;
  
}

.MuiChartsAxis-tickLabel tspan {
  fill:white;
}

.MuiChartsLegend-series tspan {
  fill: white;
}

h4 {
  color: rgb(177, 177, 177);
}
ul {
  list-style: none;
}

li {
  color: white;
}


#spec-box ul {
  color: white;
}

.container {  display: grid;
  margin: 0 auto;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  max-width: 50%;
  grid-auto-flow: row;
  grid-template-areas:
    "features limits"
    "flaps weapons"
    "pros cons";
}

.features { grid-area: features; }

.limits { grid-area: limits; }

.flaps { grid-area: flaps; }

.weapons { grid-area: weapons; }

.pros { grid-area: pros; }

.cons { grid-area: cons; }

.features, .limits, .flaps, .weapons, .pros, .cons {
  display: flex;
  /* Horizontally center */
  align-items: center;
  
}

footer {
  text-align: center;
  color: white;
  margin: 50px;
}

#job-title {
  color: white;
}
#presentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

#presentation > * {
  margin-top: 5px; /* Half of your desired gap for top */
  margin-bottom: 5px; /* Half for bottom */
}

/* Remove margin from the first and last child to prevent extra space */
#presentation > :first-child {
  margin-top: 0;
}

#presentation > :last-child {
  margin-bottom: 0;
}


#connect-btn {
  display: flex;
  gap: 30px;
  padding: 30px;
  
}

.btn {
  display:inline-flex;
  color: white;
  flex-shrink:0;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  border: 1px solid white;
  text-align:center;
  height:3rem;
  padding-left:1rem;
  padding-right:1rem;
  font-size:.875rem;
  line-height:1.25rem;
  line-height:1em;
  min-height:3rem;
  font-weight:600;
  text-transform:uppercase;
  
  text-decoration-line:none;
  
  
}


#about-project {
  padding: 30px;
}

#about-container {
  margin:150px;
}

#project-name {
  margin-bottom: 20px;
}

#socials {
  display: flex;
  gap: 20px;
  padding: 30px;
}
#socials img {
  width:35px;
  height: 35px;
}