* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #263238;
}


#ruban-display {
  background-color: red;
  text-align: center;
}

#ennemies-container {
  background-color: beige;
}
#ennemies-display {
  
  height: auto;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#ennemy-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tips-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}